/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap'); */

:root {
    --white: #ffffff;
    --black: #000000;
}

* {
    font-family: 'PF Bague Sans Pro';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

*::-moz-selection {
    background: var(--white);
    color: rgb(255, 255, 255);
}

*::selection {
    background: var(--white);
    color: rgb(255, 255, 255);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background: rgb(197, 197, 197);
}

html::-webkit-scrollbar-thumb {
    background: var(--white);
}

body {
    margin: 0;
    background: #ffffff;
    overflow-x: hidden;
    padding-left: 35rem;
}

section {
    min-height: 100vh;
    padding: 1rem;
    margin-bottom: auto;
    scroll-snap-align: start;
}

.btn {
    padding: .7rem 3rem;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
    border-style: solid;
    -webkit-box-shadow: 0px 0px 5px 2px rgb(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px 2px rgb(0, 0, 0, 0.4);
}

.btn i {
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover {
    -webkit-box-shadow: inset 100px 0 0 0 #000000;
    box-shadow: inset 100px 0 0 0 #000000;
    color: rgb(255, 255, 255);
    background: var(--black);
}

.heading {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid rgba(0, 0, 0, 0.966);
    color: rgb(255, 255, 255);
}

.heading span {
    color: var(--black);
}

.masking {
    -webkit-clip-path: url(#shape);
    clip-path: url(#shape);
}

.blob {
    position: fixed;
    width: 15rem;
    height: 15rem;
    z-index: 1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    text-align: center;
    -webkit-box-shadow: 1px 1px 20px rgb(0, 0, 0, 0.1);
    box-shadow: 1px 1px 20px rgb(0, 0, 0, 0.1);
}

header .user img {
    position: relative;
    height: 250px;
    width: 250px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 1em;
    -webkit-transform: translateY(6%);
    -ms-transform: translateY(6%);
    transform: translateY(6%);
    z-index: -1;
    background: #000000;
}

header .user .name {
    position: relative;
    text-align: center;
    font-size: 3.8rem;
    color: rgb(0, 0, 0);
}

header .user .post {
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

header .navbar {
    width: 300px;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a {
    display: block;
    padding: 1rem;
    margin: 1.2rem 0;
    -webkit-text-decoration: underline solid black 1px;
    text-decoration: underline solid black 1px;
    text-underline-offset: 7px;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    border-color: #000000;
}

header .navbar ul li a:hover {
    text-decoration: none;
    -webkit-box-shadow: inset 240px 0 0 0 #000000;
    box-shadow: inset 240px 0 0 0 #000000;
    color: rgb(255, 255, 255);
}

#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3 {
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
}

.home h1 {
    font-size: 7rem;
    background-color: #fff;
    color: #000;
    /* -webkit-text-stroke: 2px black; */
}

.home h1 span {
    background-color: #fff;
    color: rgb(0, 0, 0);
    /* -webkit-text-stroke: 2px black; */
}

.home p {
    font-size: 2rem;
    color: rgba(3, 3, 3, 0.382);
    padding: 1rem 0;
}

.waves {
    bottom: 18px;
    left: 0;
    position: fixed;
    width: 100%;
    height: 20vh;
    margin-bottom: -4px;
    min-height: 150px;
    max-height: 200px;
}

.bottomText {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: small;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.bottomLink {
    color: #fff;
    text-decoration: underline;
}

.boxContainer {
    height: 300px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.boxes {
    height: 30px;
    width: 100%;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
}

.parallax>use {
    -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
}

@-webkit-keyframes move-forever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
        transform: translate3d(85px, 0, 0);
    }
}

@keyframes move-forever {
    0% {
        -webkit-transform: translate3d(-90px, 0, 0);
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(85px, 0, 0);
        transform: translate3d(85px, 0, 0);
    }
}

.about .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.about .row .info {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 48rem;
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3 {
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
    font-weight: normal;
}

.about .row .info h3 span {
    color: rgb(0, 0, 0);
    padding: 0 .5rem;
}

.about .row .counter {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 48rem;
    flex: 1 1 48rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.about .row .counter .box {
    width: 20rem;
    background: rgb(0, 0, 0);
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.about .row .counter .box span {
    font-size: 4rem;
    color: var(--white);
}

.about .row .counter .box h3 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.education .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.education .box-container .box {
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #000;
    position: relative;
}

.education .box-container .box span {
    font-size: 1.3rem;
    background: #222;
    color: rgb(255, 255, 255);
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.education .box-container .box h3 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    padding-top: 1.5rem;
}

.education .box-container .box p {
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
    padding: 1rem 0;
}

.education .box-container .box i {
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    background: var(--white);
}

.portfolio .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.portfolio .box-container .box {
    height: 50rem;
    width: 50rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.portfolio .box-container .box:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.contact .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.contact .row .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30rem;
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}

.contact .row form {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 45rem;
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.contact .row form .box {
    padding: 1.5rem;
    margin: 1rem 0;
    background: rgba(255, 255, 255, 0.2);
    color: rgb(0, 0, 0);
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
    -webkit-box-shadow: 0px 0px 1px 1px rgb(0, 0, 0, 0.1);
    box-shadow: 0px 0px 1px 1px rgb(0, 0, 0, 0.1);
}

.contact .row form .box::-webkit-input-placeholder {
    text-transform: capitalize;
}

.contact .row form .box::-moz-placeholder {
    text-transform: capitalize;
}

.contact .row form .box:-ms-input-placeholder {
    text-transform: capitalize;
}

.contact .row form .box::-ms-input-placeholder {
    text-transform: capitalize;
}

.contact .row form .box::placeholder {
    text-transform: capitalize;
}

.contact .row form .message {
    height: 15rem;
    resize: none;
}

.contact .row .content .title {
    text-transform: uppercase;
    color: #000;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2rem;
    color: #000;
    padding: 1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i {
    padding-right: 1rem;
    color: var(--black);
}

.top {
    position: fixed;
    bottom: 7.5rem;
    right: 2rem;
    z-index: 100;
    display: none;
}


/* media queries  */

@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
    .home {
        padding: 1rem 4rem;
    }
}

@media (max-width:991px) {
    header {
        left: -120%;
    }
    #menu {
        display: block;
    }
    header.toggle {
        left: 0%;
    }
    body {
        padding: 0;
    }
}

@media (max-width:768px) {
    html {
        font-size: 50%;
    }
    .waves {
        height: 100px;
        min-height: 100px;
    }
}

@media (max-width:400px) {
    header {
        width: 100vw;
    }
    .heading {
        margin: 0 3rem;
    }
    .about .row .counter .box {
        width: 100%;
    }
    .education .box-container .box {
        width: 100%;
    }
    .portfolio .box-container .box {
        width: 100%;
    }
    .contact .row form {
        margin: 3rem 0;
    }
}

.centered {
    font-size: 100px;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.preloader {
    position: absolute;
    top: 48%;
    left: 48%;
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 999999;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

.cursor {
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.356);
    height: 30px;
    width: 30px;
    border-radius: 50px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.cursor::after,
.cursor::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    height: 10px;
    width: 10px;
    border-radius: 50px;
}

.cursor::before {
    background-color: rgb(0, 0, 0);
}

.cursor.click::before {
    -webkit-animation: click 1s ease forwards;
    animation: click 1s ease forwards;
    background-color: rgb(0, 0, 0);
}

@-webkit-keyframes click {
    0% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(7);
        transform: translate(-50%, -50%) scale(7);
    }
}

@keyframes click {
    0% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(7);
        transform: translate(-50%, -50%) scale(7);
    }
}

.social {
    position: absolute;
    width: 180px;
    height: 40px;
    bottom: 0;
}

.social-size {
    width: 30px;
    height: 30px;
}

.align-items-stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}

.contact .info {
    padding: 30px;
    background: #fff;
    width: 100%;
    -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: #149ddd;
    color: #fff;
}

.content-form {
    background: #fff;
    -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}